<div class="container mx-auto px-4 py-8">
  <!-- Loading State -->
  <div *ngIf="loading" class="mt-4 text-center">
    <h3 class="text-lg font-semibold">Loading...</h3>
  </div>

  <!-- Error State -->
  <div *ngIf="error" class="text-red-500 py-8 text-center">
    <span>Error loading product details.</span>
    <br />
    <button
      (click)="onRetry()"
      class="mt-4 px-4 py-2 border rounded bg-red-500 text-white hover:bg-red-700 transition duration-200"
    >
      Try again
    </button>
  </div>

  <!-- Back Button -->
  <button
  (click)="navigateBack()"
  class="fixed top-4 left-4 z-10 px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-gray-500 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 transition duration-300 md:absolute md:top-5 md:left-5 lg:top-10 lg:left-10"
  aria-label="Back to products"
>
  &#8592; Back to products
</button>

  <!-- Product Details -->
  <div *ngIf="product && !loading" class="mx-auto max-w-4xl text-center">
    <div class="mb-4">
      <img src="{{ product.images[0] }}" alt="{{ product.title }}" class="mx-auto rounded-lg shadow-lg">
    </div>

    <h2 class="text-2xl font-bold">{{ product.title }}</h2>
    <p class="text-md text-gray-600 my-4">{{ product.description }}</p>

    <!-- Additional Product Details -->
    <div class="text-lg my-2">
      <span class="font-semibold">Price:</span> ${{ product.price }}
    </div>
    <div class="text-lg my-2">
      <span class="font-semibold">Brand:</span> {{ product.brand }}
    </div>
    <div class="text-lg my-2">
      <span class="font-semibold">Category:</span> {{ product.category }}
    </div>
    <div class="text-lg my-2">
      <span class="font-semibold">Rating:</span> {{ product.rating }} / 5
    </div>
    <div class="text-lg my-2">
      <span class="font-semibold">Stock:</span> {{ product.stock }} units available
    </div>
  </div>
</div>